[
    {elvis, [
        {config, [
            #{
                dirs => ["src", "include", "test"],
                filter => "*.erl",
                ignore => ["_thrift.erl$"],
                ruleset => erl_files,
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_text_style, no_trailing_whitespace, #{ignore_empty_lines => true}},
                    {elvis_style, nesting_level, #{level => 3, ignore => [genlib_trunc_io]}},
                    {elvis_style, function_naming_convention, #{regex => "^([a-z][a-z0-9]*_?)*$"}},
                    {elvis_style, no_if_expression, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            },
            #{
                dirs => ["src"],
                filter => "*.app.src",
                rules => [
                    {elvis_text_style, line_length, #{limit => 120, skip_comments => false}},
                    {elvis_text_style, no_tabs},
                    {elvis_text_style, no_trailing_whitespace}
                ]
            }
        ]}
    ]}
].
